@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
// font-family: "Poiret One", cursive;
// font-family: 'Montserrat', sans-serif;

$base-gradient: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
$margin-large: 3em;
$margin-normal: 1em;
$font-size: 1em;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  user-select: none;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  height: calc(100vh - 40px);
  background-color: rgb(0, 0, 0);
  position: relative;
  color: transparent;
  overflow: hidden;
}

.iconsBg {
  height: 100%;
  width: 100%;
}

.bg-svg {
  object-fit: cover;
  margin: 20px;
  stroke: #ee7752;
  stroke-width: 1;
  animation: change-bg 20s linear infinite;
}

@keyframes change-bg {
  13% {
    stroke: #ee7752;
  }
  25% {
    stroke: #e73c7e;
  }
  37% {
    stroke: #23a6d5;
  }
  50% {
    stroke: #23d5ab;
  }
  62% {
    stroke: #23d5ab;
  }
  75% {
    stroke: #23a6d5;
  }
  87% {
    stroke: #e73c7e;
  }
  100% {
    stroke: #ee7752;
  }
}

.nav-transparent {
  background-color: transparent;
}

nav {
  text-align: center;
  height: 60px;
  width: 100%;
  background-color: teal;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $base-gradient;
  background-size: 400% 400%;
  animation: gradientBg 20s ease-in-out infinite;
  font-size: $font-size;
  color: black;

  p {
    margin: 20px 30px;
    text-transform: uppercase;
    display: inline-block;
    cursor: pointer;
  }
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poiret One", cursive;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.6);
}

.intro-text {
  text-align: center;
  font-size: 4em;
  font-weight: 300;
  color: rgb(255, 255, 255);
  padding: 10px;
}

.row2 {
  font-size: 5em;
  font-weight: 700;
}

.row3 {
  font-size: 2em;
}

// Portfolio
.portfolio {
  width: 100%;
}

.portfolio-title {
  width: 100%;
  text-align: center;
  padding: 1em 0;
  font-size: 2em;
}

.portfolio-gallery {
  text-align: center;
}

.portfolio-category {
  padding: 1em 0;
  font-size: 1em;
  display: inline-block;
  p {
    margin: 0 20px;
    cursor: pointer;
    display: inline;
  }
}

#portfolioItems {
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: transparent;
}

.portfolio-item {
  margin: 10px;
  transition: all 0.2s ease-out;
  color: black;

  img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }
}

.portfolio-item__name {
  font-size: $font-size + 0.3;
  margin: 10px 0;
}
.portfolio-item__cat {
  font-size: $font-size - 0.2;
  font-weight: 300;
}

// Contacts
.enquire-chat {
  background-color: pink;
  color: #fff;
  padding: 3em 1rem;

  margin-top: 3em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-shadow: 0px 2px 4px rgb(46, 46, 46);

  background: $base-gradient;

  background-size: 400% 400%;
  animation: gradientBg 20s ease-in-out infinite;

  h3 {
    font-size: 1.5em;
  }

  a {
    font-size: 3em;
    color: #fff;
  }
}

@keyframes gradientBg {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

footer {
  background-color: #000;
  padding: 20px 0;
  text-align: center;
  svg {
    stroke: #fff;
  }
}

// Contact page

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 0;

  input,
  textarea,
  input[type="submit"] {
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    border-radius: 6px;
    border: 1px solid #000;

    &::placeholder {
      text-align: center;
    }
  }

  input {
    width: 400px;
    height: 3em;
  }

  textarea {
    width: 400px;
    min-width: 200px;
    max-width: 800px;
    height: 200px;
    min-height: 200px;
    max-height: 800px;
    border-bottom-right-radius: 0;
  }

  input[type="submit"] {
    width: 80px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
}

.response {
  padding: 20px 0;
}

.response-success {
  color: rgb(0, 243, 0);
}
.response-fail {
  color: red;
}
